<div class="ringtones-wrapper" data-display-status="show">
    <div class="ringtones" data-selected-song="9" data-selected-song-name="Oxygen">
        <header>Ringtones</header>
        <ul class="ringtone-list">
            <li class="ringtone-item" data-item-number="1">
                <div class="song-name">None</div>
                <div class="list-bullet">
                    <div class="bullet-around">
                        <div class="bullet-center"></div>
                    </div>
                </div>
            </li>
            <li class="ringtone-item" data-item-number="2">
                <div class="song-name">Argon</div>
                <div class="list-bullet">
                    <div class="bullet-around">
                        <div class="bullet-center"></div>
                    </div>
                </div>
            </li>
            <li class="ringtone-item" data-item-number="3">
                <div class="song-name">Carbon</div>
                <div class="list-bullet">
                    <div class="bullet-around">
                        <div class="bullet-center"></div>
                    </div>
                </div>
            </li>
            <li class="ringtone-item" data-item-number="4">
                <div class="song-name">Hangouts Message</div>
                <div class="list-bullet">
                    <div class="bullet-around">
                        <div class="bullet-center"></div>
                    </div>
                </div>
            </li>
            <li class="ringtone-item" data-item-number="5">
                <div class="song-name">Helium</div>
                <div class="list-bullet">
                    <div class="bullet-around">
                        <div class="bullet-center"></div>
                    </div>
                </div>
            </li>
            <li class="ringtone-item" data-item-number="6">
                <div class="song-name">Krypton</div>
                <div class="list-bullet">
                    <div class="bullet-around">
                        <div class="bullet-center"></div>
                    </div>
                </div>
            </li>
            <li class="ringtone-item" data-item-number="7">
                <div class="song-name">Neon</div>
                <div class="list-bullet">
                    <div class="bullet-around">
                        <div class="bullet-center"></div>
                    </div>
                </div>
            </li>
            <li class="ringtone-item" data-item-number="8">
                <div class="song-name">Osmium</div>
                <div class="list-bullet">
                    <div class="bullet-around">
                        <div class="bullet-center"></div>
                    </div>
                </div>
            </li>
            <li class="ringtone-item" data-item-number="9">
                <div class="song-name">Oxygen</div>
                <div class="list-bullet">
                    <div class="bullet-around">
                        <div class="bullet-center"></div>
                    </div>
                </div>
            </li>
            <li class="ringtone-item" data-item-number="10">
                <div class="song-name">Platinum</div>
                <div class="list-bullet">
                    <div class="bullet-around">
                        <div class="bullet-center"></div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="cancel-ok">
            <div class="cancel">Cancel</div>
            <div class="ok">OK</div>
        </div>
    </div>
</div>