.ringtone-list(data-display-status="hide")
    .ringtones(data-selected-song="9" data-selected-song-name="Oxygen")
        header Ringtones
        ul.list
            li.ringtone-item(data-item-number="1")
                .song-name None
                .list-bullet
                    .bullet-around
                        .bullet-center
            li.ringtone-item(data-item-number="2")
                .song-name Argon
                .list-bullet
                    .bullet-around
                        .bullet-center
            li.ringtone-item(data-item-number="3")
                .song-name Carbon
                .list-bullet
                    .bullet-around
                        .bullet-center
            li.ringtone-item(data-item-number="4")
                .song-name Hangouts Message
                .list-bullet
                    .bullet-around
                        .bullet-center
            li.ringtone-item(data-item-number="5")
                .song-name Helium
                .list-bullet
                    .bullet-around
                        .bullet-center
            li.ringtone-item(data-item-number="6")
                .song-name Krypton
                .list-bullet
                    .bullet-around
                        .bullet-center
            li.ringtone-item(data-item-number="7")
                .song-name Neon
                .list-bullet
                    .bullet-around
                        .bullet-center
            li.ringtone-item(data-item-number="8")
                .song-name Osmium
                .list-bullet
                    .bullet-around
                        .bullet-center
            li.ringtone-item(data-item-number="9")
                .song-name Oxygen
                .list-bullet
                    .bullet-around
                        .bullet-center
            li.ringtone-item(data-item-number="10")
                .song-name Platinum
                .list-bullet
                    .bullet-around
                        .bullet-center
        .cancel-ok
            .cancel Cancel
            .ok OK