.label-input(data-display-status="hide")
    .label-container
        .input-container
            .vertical-border
                .short-border
            input.label(type="text" placeholder="Label")
            .vertical-border
                .short-border
        .cancel-okay-container
            button.cancel Cancel
            .vertical-division
            button.ok OK