doctype html
html(lang="en")
    head
        title Alarm Clock
        link(rel="stylesheet" href="./index.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        include ../includes/app-icons
    body(data-setting="false")
        -var c = 0
        while c++ < 5
            .clock-container(data-status="off" data-show-settings="false" data-show="false" data-show-ringtones="false" data-selected-song="9")
                include ../includes/always-visible
                include ../includes/hide-control
                include ../includes/delete-field
                include ../includes/settings
                include ../includes/ringtones

        script(src="bundle.js")