doctype html
html(lang="en")
    head
        title Alarm
        link(rel="stylesheet" href="./index.css")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="utf-8")

    body(data-setting="false" data-layout="phone")
        include ../alarm.pug