$ringtones_width: 284px
$ringtones_computed_height: 472px
$ringtones_background_color: rgb(40, 40, 40)
$ringtones_header_color: rgb(51, 181, 229)
$ringtones_list_border_color: rgb(76, 76, 76)
$ringtones_padding_left: 15px
$ringtones_padding_top: 10px
$ringtones_list_bullet_width: 18px
$ringtones_total: 10

.clock-container[data-show-ringtones="true"]
    .ringtones-wrapper
        display: block

.clock-container
    .ringtones-wrapper
        z-index: 2
        display: none
        position: fixed
        top: 0
        right: 0
        bottom: 0
        left: 0
        background-color: rgba(0, 0, 0, 0.5)
    
        .ringtones
            width: $ringtones_width
            height: $ringtones_computed_height
            position: fixed
            top: calc( (100% - #{$ringtones_computed_height}) / 2 )
            left: calc( (100% - #{$ringtones_width}) / 2 )
            background-color: $ringtones_background_color
            border-top: 1px solid $ringtones_list_border_color
            border-radius: 3px
            box-shadow: 0 3px 5px rgb(0, 0, 0)

            header
                color: $ringtones_header_color
                border-bottom: 2px solid $ringtones_header_color
                padding: $ringtones_padding_top $ringtones_padding_left
                font-size: 18px

            ul
                list-style: none

                li
                    border-bottom: 1px solid $ringtones_list_border_color
                    color: white
                    padding: $ringtones_padding_top $ringtones_padding_left
                    display: flex
                    flex-direction: row
                    align-items: center
                    justify-content: space-between

                    .list-bullet
                        width: $ringtones_list_bullet_width
                        height: $ringtones_list_bullet_width
                        border: 1px solid $ringtones_list_border_color
                        border-radius: 50%
                        display: flex
                        align-items: center
                        justify-content: center

                        *
                            border-radius: 50%
                            display: flex
                            align-items: center
                            justify-content: center
                            width: calc(100% - 4px)
                            height: calc(100% - 4px)

                        .bullet-around
                            background-color: rgba(51, 181, 229, 0.3)
                            box-shadow: 0 0 4px rgba(51, 181, 229, 0.4)
                            display: none

                            .bullet-center
                                background-color: $ringtones_header_color
                                border-top: 1px solid rgba(255, 255, 255, 0.3)
            .cancel-ok
                display: flex
                flex-direction: row
                color: white
                display: flex

                .cancel, .ok
                    width: 50%
                    padding: $ringtones_padding_top 0
                    text-align: center

                .ok
                    border-left: 1px solid $ringtones_list_border_color

    
    @for $i from 1 through $ringtones_total
        .ringtones[data-selected-song="#{$i}"]
            ul
                li:nth-child(#{$i})
                    .list-bullet
                        .bullet-around
                            display: flex