@use './reset'
@use './clock-container-hover'
@use './clock-container'
@use './clock-settings-hover'
@use './clock-settings'
@use './clock-ringtones'
@use './clock-ringtones-hover'

body[data-setting="true"]
    bottom: 0
    left: 0
    width: 100%
    position: absolute
    overflow: hidden
