audio.argon-alarm
    source(src="./assets/alarms/Argon.ogg" type="audio/ogg")

audio.carbon-alarm
    source(src="./assets/alarms/Carbon.ogg" type="audio/ogg")

audio.hangouts-message-alarm
    source(src="./assets/alarms/Hangouts Message.ogg" type="audio/ogg")

audio.helium-alarm
    source(src="./assets/alarms/Helium.ogg" type="audio/ogg")

audio.krypton-alarm
    source(src="./assets/alarms/Krypton.ogg" type="audio/ogg")

audio.neon-alarm
    source(src="./assets/alarms/Neon.ogg" type="audio/ogg")

audio.osmium-alarm
    source(src="./assets/alarms/Osmium.ogg" type="audio/ogg")

audio.oxygen-alarm
    source(src="./assets/alarms/Oxygen.ogg" type="audio/ogg")

audio.platinum-alarm
    source(src="./assets/alarms/Platinum.ogg" type="audio/ogg")
