.ringtones
    header Ringtones
    ul
        li None
        li Argon
        li Carbon
        li Hangouts Message
        li Helium
        li Krypton
        li Neon
        li Osmium
        li Oxygen
        li Platinum
    .cancel-ok
        .cancel Cancel
        .ok OK