.settings-wrapper
    .clock-settings(data-am-pm="am" data-hour="6" data-minute="0" data-select="hour" data-skip-animation="false")
        .time-container
            span.hour 6
            span.separator :
            span.minute 00
            span.am AM
            span.pm PM
        .disc-container
            .am-button AM
            .hour-disc(data-active="false")
                - var n = 1
                while n <= 12
                    .hour= n++
                - var n = -5
                while (n += 5) < 60
                    .minute= (n < 10 ? '0' + n : n)
                .hour-selector-disc
                    .dot
                .hour-selector-axis
                .minute-selector-disc
                    .dot
                .minute-selector-axis
            .pm-button PM
        .done-container
            span Done