audio.argon-alarm
    source(src="../assets/Argon.ogg" type="audio/ogg")

audio.carbon-alarm
    source(src="../assets/Carbon.ogg" type="audio/ogg")

audio.hangouts-message-alarm
    source(src="../assets/Hangouts Message.ogg" type="audio/ogg")

audio.helium-alarm
    source(src="../assets/Helium.ogg" type="audio/ogg")

audio.krypton-alarm
    source(src="../assets/Krypton.ogg" type="audio/ogg")

audio.neon-alarm
    source(src="../assets/Neon.ogg" type="audio/ogg")

audio.osmium-alarm
    source(src="../assets/Osmium.ogg" type="audio/ogg")

audio.oxygen-alarm
    source(src="../assets/Oxygen.ogg" type="audio/ogg")

audio.platinum-alarm
    source(src="../assets/Platinum.ogg" type="audio/ogg")
