audio.argon-alarm
    source(src="../../../assets/ringtones/Argon.ogg" type="audio/ogg")

audio.carbon-alarm
    source(src="../../../assets/ringtones/Carbon.ogg" type="audio/ogg")

audio.hangouts-message-alarm
    source(src="../../../assets/ringtones/Hangouts Message.ogg" type="audio/ogg")

audio.helium-alarm
    source(src="../../../assets/ringtones/Helium.ogg" type="audio/ogg")

audio.krypton-alarm
    source(src="../../../assets/ringtones/Krypton.ogg" type="audio/ogg")

audio.neon-alarm
    source(src="../../../assets/ringtones/Neon.ogg" type="audio/ogg")

audio.osmium-alarm
    source(src="../../../assets/ringtones/Osmium.ogg" type="audio/ogg")

audio.oxygen-alarm
    source(src="../../../assets/ringtones/Oxygen.ogg" type="audio/ogg")

audio.platinum-alarm
    source(src="../../../assets/ringtones/Platinum.ogg" type="audio/ogg")
