doctype html
html(lang="en")
    head
        title ringtone-list
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="./style.css")

    body
        include ../ringtone-list.html
        script(src="./bundle.js")
